<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Warn"
      throwConfigExceptions="true">
    <!-- 配置日志文件的目录 --> 
    <targets>
        <!--输出到文件-->
        <!--黑洞 忽略的日志-->
        <target xsi:type="Null"
                name="blackhole" />

		<!-- 异步文件目标 -->
		<target name="errorFile" xsi:type="AsyncWrapper"
				queueLimit="1000"
				overflowAction="Block"
				timeToSleepBetweenBatches="50"
				batchSize="100">
			<!-- 按日志级别分开的文件 -->
			<target  xsi:type="File"
					fileName="${basedir}/logs/error-${shortdate}.log"
					archiveFileName="${basedir}/logs/error-${shortdate}-{#}.log"
				    layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=ToString}"
					maxArchiveFiles="100"
					archiveAboveSize="10485760"
					archiveNumbering="DateAndSequence"
					archiveDateFormat="yyyyMMdd"
					concurrentWrites="true"
					keepFileOpen="false"/>
		</target>

		<!-- 异步文件目标 -->
		<target name="infoFile" xsi:type="AsyncWrapper"
				queueLimit="1000"
				overflowAction="Block"
				timeToSleepBetweenBatches="50"
				batchSize="100">
			<target  xsi:type="File"
			   fileName="${basedir}/logs/info-${shortdate}.log"
				archiveFileName="${basedir}/logs/info-${shortdate}-{#}.log"
		        layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=ToString}"
			   maxArchiveFiles="100"
			   archiveAboveSize="10485760"
			   archiveNumbering="DateAndSequence"
			   archiveDateFormat="yyyyMMdd"
			   concurrentWrites="true"
			   keepFileOpen="false"/>
		</target>

		<!-- 异步文件目标 -->
		<target name="debugFile" xsi:type="AsyncWrapper"
				queueLimit="1000"
				overflowAction="Block"
				timeToSleepBetweenBatches="50"
				batchSize="100">
			<target  xsi:type="File"
			   fileName="${basedir}/logs/debug-${shortdate}.log"
				archiveFileName="${basedir}/logs/debug-${shortdate}-{#}.log"
		        layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=ToString}"
			   maxArchiveFiles="100"
			   archiveAboveSize="10485760"
			   archiveNumbering="DateAndSequence"
			   archiveDateFormat="yyyyMMdd"
			   concurrentWrites="true"
			   keepFileOpen="false"/>
		</target>




		<!-- 异步控制台目标 -->
		<target name="console" xsi:type="AsyncWrapper">
			<target xsi:type="ColoredConsole"
			   layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=ToString}" />
		</target> 
		
    </targets>
    <rules>
		<!-- 屏蔽所有Microsoft开头的命名空间日志 -->
		<logger name="Microsoft.*" minlevel="Debug" writeTo="blackhole" final="true" />
		<logger name="System.*" minlevel="Debug" writeTo="blackhole" final="true" />

		<!--Trace < Debug < Info < Warn < Error < Fatal < Off-->
		
		<!-- 控制台输出所有级别日志 -->
		<logger name="*" minlevel="Debug" writeTo="console" />

		<!-- 将Error及以上级别日志写入errorFile -->
		<logger name="*" minlevel="Error" maxlevel="Error" writeTo="errorFile" />

		<!-- 将debug及以上级别日志写入debugFile -->
		<logger name="*" minlevel="Debug" writeTo="debugFile" />

		<!-- 将Info及以上级别日志写入infoFile -->
		<logger name="*" minlevel="Info" writeTo="infoFile" />

	</rules>
</nlog>

